VENTAS_PG_USER=actividad_dbt
VENTAS_PG_PASSWORD=REEMPLAZAR
VENTAS_PG_HOST=127.0.0.1
VENTAS_PG_PORT=5433
VENTAS_PG_DATABASE=ventas_oltp
VENTAS_DUCKDB_PATH=../ventas_olap.duckdb
DBT_BIN=dbt
DBT_LOG_PATH=/tmp/ventas_dbt_logs
DBT_TARGET_PATH=/tmp/ventas_dbt_target
DBT_SEND_ANONYMOUS_USAGE_STATS=false
